<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Uber Shi-sa</title>
    <link rel="stylesheet" href="css/reset.css">
    <script src="https://kit.fontawesome.com/98ca2fa25d.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="css/commom/commom.css">
</head>
<body>
    <div id="bar">
        <div class="page-name">ホテル名</div>
        <div id="menu-icon"><i class="fas fa-bars fa-2x"></i></div>
    </div>
    <div id="sidebar-menu">
        <div class="menu-item"><form action="#"><button class="menu-btn">個人情報</button></form></div>
        <div class="menu-item"><form action="logout"><button class="menu-btn">ログアウト</button></form></div>
    </div>
    <div>
        確認popup
    </div>
    <div class="wrapper">
        <div class="left-side">
            <h1>注文情報</h1>
            <div><label>注文ID</label><input type="text" value="12345" readonly></div>
            <table>
                <tr>
                    <th>商品名</th>
                    <th>個数</th>
                    <th>説明</th>
                </tr>
                <tr>
                    <td>ロイズ石垣島 黒糖チョコレート</td>
                    <td>10</td>
                    <td>説明説明説明説明説明説明説明説明</td>
                </tr>
                <tr>
                    <td>ロイズ石垣島 黒糖チョコレート</td>
                    <td>10</td>
                    <td>説明説明説明説明説明説明説明説明</td>
                </tr>
                <tr>
                    <td>ロイズ石垣島 黒糖チョコレート</td>
                    <td>10</td>
                    <td>説明説明説明説明説明説明説明説明</td>
                </tr>
                <tr>
                    <td>ロイズ石垣島 黒糖チョコレート</td>
                    <td>10</td>
                    <td>説明説明説明説明説明説明説明説明</td>
                </tr>
            </table>
        </div>
        <div class="right-side">
            <div><label class="label-format">店舗名</label><input type="text" value="A店舗" readonly></div>
            <div><label class="label-format">住所</label><input type="text" value="国際通り1-2-3" readonly></div>
            <div><label class="label-format">電話番号</label><input type="text" value="090-xxx-xxx" readonly></div>
            <div class="btn-container">
                <form action="#"><button class="btn primary-btn">完了</button></form>
            </div>
        </div>
    </div>
</body>
</html>