<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/reset.css">
    <script src="https://kit.fontawesome.com/98ca2fa25d.js" crossorigin="anonymous"></script>
    <link th:href="@{/css/common/common.css}" rel="stylesheet">
    <script src="js/js.js"></script>
    <title>Uber Shi-sa</title>
</head>
<body>
    <div id="bar">
        <div class="page-name">ホテル名</div>
        <div id="menu-icon"><i class="fas fa-bars fa-2x"></i></div>
    </div>
    <div id="sidebar-menu">
        <div class="menu-item"><form action="/hotel/delivery"><button class="menu-btn">配達員一覧</button></form></div>
        <div class="menu-item"><form action="/hotel/orderHistory"><button class="menu-btn">注文履歴</button></form></div>
        <div class="menu-item"><form action="#"><button class="menu-btn">キャンセル注文</button></form></div>
        <div class="menu-item"><form action="#"><button class="menu-btn">店舗管理</button></form></div>
        <div class="menu-item"><form action="#"><button class="menu-btn">ログアウト</button></form></div>
    </div>
    <div class="wrapper">
        <table>
            <caption>配達員一覧</caption>
            <tr>
                <th>配達員ID</th>
                <th>名前</th>
                <th>連絡先</th>
                <th>削除</th>
            </tr>
            <tr th:each="deliveryList : ${dList}">
	            <td th:text="${deliveryList.deliveryManId}"></td>
	    		<td th:text="${deliveryList.deliveryManName}"></td>
	    		<td th:text="${deliveryList.deliveryManTel}"></td>
                <td> <form th:object="${hotelDelivery}" action="/hotel/deliveryListDelete" onclick=check() name="deliveryListDelete"><button class="btn-mini del-btn-mini" value="${deliveryList.deliveryManId}">削除</button></form></td>
            </tr>
        </table>
    </div>

</body>
</html>