<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/reset.css">
    <script src="https://kit.fontawesome.com/98ca2fa25d.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="css/commom/commom.css">
    <title>Uber Shi-sa</title>
</head>
<body>
    <div id="bar">
        <div class="page-name">ホテル名</div>
        <div id="menu-icon"><i class="fas fa-bars fa-2x"></i></div>
    </div>
    <div id="sidebar-menu">
        <div class="menu-item"><form action="#"><button class="menu-btn">配達員一覧</button></form></div>
        <div class="menu-item"><form action="/hotel/orderHistory"><button class="menu-btn">注文履歴</button></form></div>
        <div class="menu-item"><form action="#"><button class="menu-btn">キャンセル注文</button></form></div>
        <div class="menu-item"><form action="#"><button class="menu-btn">店舗管理</button></form></div>
        <div class="menu-item"><form action="#"><button class="menu-btn">ログアウト</button></form></div>
    </div>
    <div class="wrapper">
        <h1>注文履歴</h1>
        <div class="content-container">
            <div class="left-side">
                <div>
                    <label class="label-format">月</label>
                    <select name="Month" id="MonthNum">
                        <option value="1">01</option>
                        <option value="2">02</option>
                        <option value="3">03</option>
                        <option value="4">04</option>
                        <option value="5">05</option>
                        <option value="6">06</option>
                        <option value="7">07</option>
                        <option value="8">08</option>
                        <option value="9">09</option>
                        <option value="10">10</option>
                        <option value="11">11</option>
                        <option value="12">12</option>
                    </select>
                </div>
                <div>
                    <label class="label-format">店舗</label>
                    <select name="shopId" onChange="location.href=value;">
                       	<option th:each="shopList : ${sList}" th:text="${shopList.name}" id="${shopList.shopId}" value="/hotel/orderHistory"></option>
                    </select>
                </div>
               <table border=1>
                   <tr>
                       <th>注文ID</th>
                       <th>日付</th>
                       <th>金額(円)</th>
                   </tr>
                   <tr th:each="orderInfo : ${oList}">
	               		<td><form action="/hotel/orderHistory"><button class="btn-mini" name="orderId" value="${orderInfo.orderId}" th:text="${orderInfo.orderId}"></button></form></td>
	    				<td th:text="${orderInfo.date}"></td>
	    				<td th:text="${orderInfo.totalPrice}"></td>
	    			</tr>
               </table>
               <p>合計金額(円)：<label>15000</label></p>
            </div>
            <div class="right-side">
                <div><label class="lable-format" th:text="'注文ID:' + ${orderId}"></label></div>
                <table border = 1>
                    <caption>注文情報</caption>
                    <tr>
                        <th>商品名</th>
                        <th>個数</th>
                        <th>単価(円)</th>
                    </tr>
					<!-- <tr th:each="orderInfo : ${oList}">
						<td th:text="${orderInfo.order_id}"></td>
    					<td th:text="${orderInfo.lastName}"></td>
    					<td th:text="${orderInfo.firstName}"></td>
					</tr> -->
                </table>
                <p>合計金額(円)：<label>5000</label></p>
                <button class="btn back-btn">戻る</button>
            </div>
        </div>

    </div>

</body>
</html>