<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/reset.css">
    <script src="https://kit.fontawesome.com/98ca2fa25d.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="css/common/common.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <title>Uber Shi-sa</title>
    <link rel="stylesheet" href="css/hotel/hotel.css">
</head>
<body>
    <div id="bar">
        <div class="page-name">ホテル名</div>
        <div id="menu-icon"><i class="fas fa-bars fa-2x"></i></div>
    </div>
    <div class="sidebar-menu">
        <div class="menu-item"><form action="/hotel/delivery"><button class="menu-btn">配達員一覧</button></form></div>
        <div class="menu-item"><form action="/hotel/orderHistory"><button class="menu-btn">注文履歴</button></form></div>
        <div class="menu-item"><form action="cancel"><button class="menu-btn">キャンセル注文</button></form></div>
        <div class="menu-item"><form action="hotelAddStore"><button class="menu-btn">店舗管理</button></form></div>
        <div class="menu-item"><form action="logout"><button class="menu-btn">ログアウト</button></form></div>
    </div>
    <div class="wrapper">
        <div class="left-side" style="width: 60%;">
           <table>
               <caption>店舗一覧</caption>
               <tr>
                   <th>店名</th>
                   <th>住所</th>
                   <th>電話番号</th>
                   <th>削除</th>
               </tr>
               <tr th:each = "shopList: ${shop}">
                    <td th:text = "${shopList.shopName}"></td>
                    <td th:text = "${shopList.address}"></td>
                    <td th:text = "${shopList.shopTel}"></td>
                    <!--<td><form action="#"><button class="btn-mini del-btn-mini">削除</button></form></td>-->
                    <!--<td><form th:object="${hotelDelivery}" action="/hotel/deliveryListDelete" onclick="return check();" method="post"><button class="btn-mini del-btn-mini" name="deliveryListDelete" th:value="${deliveryList.deliveryManId}">削除</button></form></td>-->
                    <td><form th:object="${hotelAddStore}"     action="/hotelAddStoreDelete"       onclick="return check();" method="post"><button class="btn-mini del-btn-mini" name="hotelShopDelete"    th:value="${shopList.shopId}">削除</button></form></td>

                </tr>
           </table>
        </div>
        <div class="right-side" style="width: 40%;">
            <h1>店舗を追加</h1>
            <form action="#">
                <div><label class="label-format">ログインID：</label><input type="text" value="12345"></div>
                <div><label class="label-format">パスワード：</label><input type="text" value="12345"></div>
                <div><label class="label-format">店舗名：</label><input type="text" value="12345"></div>
                <div><label class="label-format">住所：</label><input type="text" value="12345"></div>
                <div><label class="label-format">電話番号：</label><input type="text" value="12345"></div>
                <div class="btn-container">
                    <button class="btn add-btn">追加</button>
                    <button class="btn back-btn" formaction="hotel">戻る</button>
                </div>
            </form>
        </div>
    </div>
    <script src="../../js/js.js" type="text/javascript"></script>
    <script src="../../js/hotelDelivery.js" type="text/javascript"></script>
</body>
</html>