<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/reset.css">
    <script src="https://kit.fontawesome.com/98ca2fa25d.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="css/commom/commom.css">
    <title>Uber Shi-sa</title>
</head>
<body>
    <div id="bar">
        <div class="page-name">ホテル名</div>
        <div id="menu-icon"><i class="fas fa-bars fa-2x"></i></div>
    </div>
    <div id="sidebar-menu">
        <div class="menu-item"><form action="#"><button class="menu-btn">配達員一覧</button></form></div>
        <div class="menu-item"><form action="#"><button class="menu-btn">注文履歴</button></form></div>
        <div class="menu-item"><form action="#"><button class="menu-btn">キャンセル注文</button></form></div>
        <div class="menu-item"><form action="#"><button class="menu-btn">店舗管理</button></form></div>
        <div class="menu-item"><form action="#"><button class="menu-btn">ログアウト</button></form></div>
    </div>
    <div class="wrapper">
        <div class="left-side">
          <h1>キャンセル注文情報</h1>
          <div>
                <div>
                  <form></form><label class="label-format">注文番号：</label>
                  <button class="btn-mini">12354</button></form>
                </div>
                <div>
                    <form></form><label class="label-format">注文番号：</label>
                    <button class="btn-mini">12354</button></form>
                </div>
                <div>
                    <form></form><label class="label-format">注文番号：</label>
                    <button class="btn-mini">12354</button></form>
                </div>
          </div>
        </div>
        <div class="right-side">
            <form action="#">
                <div>
                    <label class="label-format">部屋番号：</label>
                    <input type="text" value="123466" readonly>
                </div>
                <div>
                    <label class="label-format">ログインID：</label>
                    <input type="text" value="123466" readonly>
                </div>
                <div>
                    <label class="label-format">パスワード：</label>
                    <input type="text" value="123466" readonly>
                </div>
                <div>
                    <label class="label-format">注文番号：</label>
                    <input type="text" value="123466" readonly>
                </div>
                <div>
                    <label class="label-format">店舗名：</label>
                    <input type="text" value="123466" readonly>
                </div>
                <div>
                    <label class="label-format">住所：</label>
                    <input type="text" value="123466" readonly>
                </div>
                <div class="btn-container">
                    <button class="btn back-btn">戻る</button>
                    <button class="btn add-btn">受取ました</button>
                </div>
            </form>
        </div>
    </div>
    
</body>
</html> 