<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/reset.css">
    <link rel="stylesheet" href="css/common/common.css">
    <link rel="stylesheet" href="css/index/index.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <title>Uber Shi-sa</title>
</head>
<body>
    <div class="wrapper">
        <div class="image">
            <h3>Uber Shi-sa</h3>
            <!-- <img src="" alt="image"> -->
        </div>
        <div class="content">

        	<span th:if="!${#strings.isEmpty(errorMsg)}" th:text="${errorMsg}"></span>
<!--             <div class="header"> -->
<!--                 <h1>ログイン</h1> -->
<!--             </div> -->
            <div class="main">
                <div class="header">
                    <h1>ログイン</h1>
                </div>
                <form action="login" method="post" th:object="${login}">
                    <input type="text" placeholder="ログインID">
                    <input type="password" placeholder="パスワード">
                    <div class="job-dropdown">
                        <label>役割</label>
                        <select name="#" id="job">
                            <option value="1" selected>宿泊客</option>
                            <option value="2">配達員</option>
                            <option value="3">お店</option>
                            <option value="4">ホテル</option>
                        </select>
                    </div>
                    <div><button class="btn primary-btn">
                        ログイン
                    </button></div>
                    <p><a href="#">新規登録</a></p>
                </form>
            </div>
            <footer>
                <p>
                    パスワードを忘れた場合は<br>
                    090-ｘｘｘ-ｘｘｘまでご連絡ください　
                </p>
            </footer>
        </div>
    </div>
    <script src="js/js.js" type="text/javascript"></script>
</body>
</html>