<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.​thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/reset.css">
    <script src="https://kit.fontawesome.com/98ca2fa25d.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="css/common/common.css">
    <!-- <link rel="stylesheet" href="css/store/store.css"> -->
    <link rel="stylesheet" href="css/table/table.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <title>Store</title>
</head>
<body>
    <div id="bar">
       <div class="page-name">HOME</div>
        <div id="menu-icon"><i class="fas fa-bars fa-2x"></i></div>
    </div>
    <div class="sidebar-menu">
        <div class="menu-item"><form th:action="@{/storeManage}"><button class="menu-btn">店舗情報</button></form></div>
        <div class="menu-item"><form th:action="@{/storeOrderList}"><button class="menu-btn">注文一覧</button></form></div>
        <div class="menu-item"><form th:action="@{/shop/storeProductManage}"><button class="menu-btn">商品管理</button></form></div>
        <div class="menu-item"><form action="/logout"><button class="menu-btn">ログアウト</button></form></div>

    </div>
    <div class="wrapper">
        <div>
            <h1>注文一覧</h1>
            <form action="#">
                <select name="#" id="storeOrderChange">
                    <option value="1" selected>進行中の注文</option>
                    <option value="2">受け渡し済み注文</option>
                </select>
            </form>
        </div>

        <table id="orderListTable">
        	<caption>進行中</caption>
            <tr>
                <th>注文ID</th>
                <th>配達員ID</th>
                <th>配達員名</th>
                <th>電話番号</th>
                <th>日時</th>
            </tr>
            <tr th:inline="text" th:each="order : ${session.notFinishedOrderList}">
                <td><a th:href="@{/shop/shopOrderInfo/{orderId}(orderId=${order.orderId})}" class="btn-mini"
                th:text="${order.orderId}"></a></td>
				<td th:text="${order.deliveryManId}?:'なし'"></td>
				<td th:text="${order.deliveryManName}?:'なし'"></td>
				<td th:text="${order.deliveryManTel}?:'なし'"></td>
				<td th:text="${order.dateTime}"></td>
            </tr>
        </table>
<!-- 受け渡し済み注文テーブル -->
        <table id="orderListTableFinish" style="display: none;">
        <caption>受け渡し済み</caption>
            <tr>
                <th>注文ID</th>
                <th>配達員ID</th>
                <th>配達員名</th>
                <th>電話番号</th>
                <th>日時</th>
            </tr>
            <tr th:inline="text" th:each="order : ${session.finishedOrderList}">
                <td><a th:href="@{/shop/shopOrderInfo/{orderId}(orderId=${order.orderId})}" class="btn-mini">[[${order.orderId}]]</a></td>
                <td th:text="${order.deliveryManId}?:'なし'"></td>
				<td th:text="${order.deliveryManName}?:'なし'"></td>
				<td th:text="${order.deliveryManTel}?:'なし'"></td>
                <td th:text="${order.dateTime}"></td>
            </tr>
        </table>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/push.js/0.0.11/push.min.js"></script>
	<script type="text/javascript" src="../../js/notifShop.js"></script>
    <script src="../../js/js.js" type="text/javascript"></script>
    <script src="../../js/storeManage.js" type="text/javascript"></script>
</body>
</html>