<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Uber Shi-sa</title>
    <link rel="stylesheet" href="css/reset.css">
    <script src="https://kit.fontawesome.com/98ca2fa25d.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="css/commom/commom.css">
</head>
<body>
    <div id="bar">
        <div class="page-name">ホテル名</div>
        <div id="menu-icon"><i class="fas fa-bars fa-2x"></i></div>
    </div>
    <div id="sidebar-menu">
        <div class="menu-item"><form action="#"><button class="menu-btn">店舗情報</button></form></div>
        <div class="menu-item"><form action="#"><button class="menu-btn">注文一覧</button></form></div>
        <div class="menu-item"><form action="#"><button class="menu-btn">商品管理</button></form></div>
        <div class="menu-item"><form action="#"><button class="menu-btn">ログアウト</button></form></div>
    </div>
    <div action="#" class="wrapper">
        <div class="left-side">
            <div class="search">
                <form action="#">
                    <input type="text" placeholder="検索">
                    <button class="btn primary-btn">検索</button>
                </form>
            </div>
            <div class="boxes-grid">
                <div class="box">
                    <div><img src="images/product1.jpg" alt="product"></div>
                    <div class="product-detail">
                        <div><label class="label-format">商品ID：</label><label>12345</label></div>
                        <div><label class="label-format">商品名：</label><label>元祖紅いもタルト</label></div>
                        <div><label class="label-format">単価(円)：</label><label>500</label></div>
                        <div><label class="label-format">在庫：</label><label>12</label></div>
                        <div><label class="label-format">説明：</label><textarea>説明説明説明説明説明説明説明説明</textarea></div>
                        <div><form action="#" id="check-form"></form><label class="label-format">チェック：</label><input type="checkbox"></form></div>
                    </div>
                </div>
                <div class="box">
                    <div><img src="images/product1.jpg" alt="product"></div>
                    <div class="product-detail">
                        <div><label class="label-format">商品ID：</label><label>12345</label></div>
                        <div><label class="label-format">商品名：</label><label>元祖紅いもタルト</label></div>
                        <div><label class="label-format">単価(円)：</label><label>500</label></div>
                        <div><label class="label-format">在庫：</label><label>12</label></div>
                        <div><label class="label-format">説明：</label><textarea>説明説明説明説明説明説明説明説明</textarea></div>
                        <div><form action="#" id="check-form"></form><label class="label-format">チェック：</label><input type="checkbox"></form></div>
                    </div>
                </div>
                <div class="box">
                    <div><img src="images/product1.jpg" alt="product"></div>
                    <div class="product-detail">
                        <div><label class="label-format">商品ID：</label><label>12345</label></div>
                        <div><label class="label-format">商品名：</label><label>元祖紅いもタルト</label></div>
                        <div><label class="label-format">単価(円)：</label><label>500</label></div>
                        <div><label class="label-format">在庫：</label><label>12</label></div>
                        <div><label class="label-format">説明：</label><textarea>説明説明説明説明説明説明説明説明</textarea></div>
                        <div><form action="#" id="check-form"></form><label class="label-format">チェック：</label><input type="checkbox"></form></div>
                    </div>
                </div>
                <div class="box">
                    <div><img src="images/product1.jpg" alt="product"></div>
                    <div class="product-detail">
                        <div><label class="label-format">商品ID：</label><label>12345</label></div>
                        <div><label class="label-format">商品名：</label><label>元祖紅いもタルト</label></div>
                        <div><label class="label-format">単価(円)：</label><label>500</label></div>
                        <div><label class="label-format">在庫：</label><label>12</label></div>
                        <div><label class="label-format">説明：</label><textarea>説明説明説明説明説明説明説明説明</textarea></div>
                        <div><form action="#" id="check-form"></form><label class="label-format">チェック：</label><input type="checkbox"></form></div>
                    </div>
                </div>
                <div class="box">
                    <div><img src="images/product1.jpg" alt="product"></div>
                    <div class="product-detail">
                        <div><label class="label-format">商品ID：</label><label>12345</label></div>
                        <div><label class="label-format">商品名：</label><label>元祖紅いもタルト</label></div>
                        <div><label class="label-format">単価(円)：</label><label>500</label></div>
                        <div><label class="label-format">在庫：</label><label>12</label></div>
                        <div><label class="label-format">説明：</label><textarea>説明説明説明説明説明説明説明説明</textarea></div>
                        <div><form action="#" id="check-form"></form><label class="label-format">チェック：</label><input type="checkbox"></form></div>
                    </div>
                </div>
                <div class="box">
                    <div><img src="images/product1.jpg" alt="product"></div>
                    <div class="product-detail">
                        <div><label class="label-format">商品ID：</label><label>12345</label></div>
                        <div><label class="label-format">商品名：</label><label>元祖紅いもタルト</label></div>
                        <div><label class="label-format">単価(円)：</label><label>500</label></div>
                        <div><label class="label-format">在庫：</label><label>12</label></div>
                        <div><label class="label-format">説明：</label><textarea>説明説明説明説明説明説明説明説明</textarea></div>
                        <div><form action="#" id="check-form"></form><label class="label-format">チェック：</label><input type="checkbox"></form></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="right-side">
            <!-- <form action="#"> -->
                <div class="btn-container">
                    <button class="btn add-btn" form="check-form">追加</button>
                    <!-- <button class="btn update-btn">更新</button> -->
                    <button class="btn del-btn" form="check-form">削除</button>
                </div>
                <section>
                    <p>※チェックした項目が削除されます。</p>
                    <p>※商品画像をクリックすると
                        商品情報を編集できます。</p>
                </section>
            <!-- </form> -->
        </div>
    </div>
</body>
</html>