<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/reset.css">
    <script src="https://kit.fontawesome.com/98ca2fa25d.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="css/commom/commom.css">
    <title>Uber Shi-sa</title>
</head>
<body>
    <div id="bar">
        <div class="page-name">注文</div>
        <div class="menu-icon"><i class="fas fa-bars fa-2x"></i></div>
    </div>
    <div id="sidebar-menu">
        <div class="menu-item"><form action="#"><button class="menu-btn">履歴</button></form></div>
        <div id="menu-item"><form action="#"><button class="menu-btn">ログアウト</button></form></div>
    </div>
    <div class="wrapper">
        <div class="content_container">
            <div class="left-side">
                <h3>配達済み一覧</h3>
                <table>
                    <tr>
                        <th>注文ID</th>
                    </tr>
                    <tr>
                        <td>131546</td>
                    </tr>
                    <tr>
                        <td>131546</td>
                    </tr>
                    <tr>
                        <td>131546</td>
                    </tr>
                </table>
            </div>
            <div class="right-side">
                <h3>注文中一覧</h3>
                <table>
                    <tr>
                        <th>注文ID</th>
                    </tr>
                    <tr>
                        <td>23123</td>
                    </tr>
                    <tr>
                        <td>23123</td>
                    </tr>
                    <tr>
                        <td>23123</td>
                    </tr>
                </table>
            </div>
        </div>
       
        <button class="btn back-btn">戻る</button>
    </div>
</body>
</html>